<div><a  routerLink="/categories/create"  class="btn btn-secondary">New Categorie</a></div>
 <div class="card row card-featured my-3 p-2"   *ngFor="let categorie of categories;let i=index">

  <h3 class="font-weight-dark">
     <a [routerLink]="[categorie.id]"> {{ categorie.title }}</a>
  </h3>

 <div class="desc">
    <p>{{categorie.content |slice:0: 170 }}
     <a [routerLink]="[categorie.id]">{{categorie.content.length > 170 ? '...Read More' : ''}}</a></p>
</div>

 <span class="delete" (click)="removeCategorie(categorie.id)">
    <button type="button" class="btn btn-danger btn-sm">Delete</button>
</span>
</div>
















<!--<div class="row mb-5">
  <h2 class="col-6">Categories</h2>
  <div class="col-3"></div>

  <div><a  routerLink="/categories/create"  class="btn btn-secondary">New Category</a></div>
</div>

<table class="table col-md-8 offset-md-3">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categorie of categoryList ">
      <th scope="row">{{categorie.id}}</th>
      <td>{{categorie.name}}</td>
      <td style="width: 70px;">
        <a [routerLink]="['/categories/edit-categorie/', categorie.id]" class="btn btn-info"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></a>
      </td>
      <td style="width: 70px;">
        <button class="btn btn-danger" (click)="deleteCase(categorie.id); $event.stopPropagation()" > <i class="fa fa-trash " aria-hidden="true" ></i></button>
      </td>
      <td style="width: 70px;">
        <a routerLink="/categories/view-categorie/{{categorie.id}}" class="btn btn-warning"> <i class="fa fa-eye " aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>-->
