<!--<p>products-form works!</p>-->
<form #addProductForm="ngForm">
  <div class="card offset-3  mt-5">
    <div class="card-header"><h3>{{ pageTitle }}</h3></div>
    <div class="card-body">
      <div *ngIf="mode=='VIEW'">
       <!--<h5>#id : {{productDetails.id}} </h5>-->
        <h5>Name: {{productDetails.name}} </h5>
        <h5>Description: {{productDetails.description}} </h5>
        <h5>Price: € {{productDetails.price}} </h5>
      </div>
      <div class="form-group" *ngIf="mode !='VIEW'">
        <input type="text" id="name" name="name"  [(ngModel)]="productDetails.name"  class="form-control" placeholder="Enter name" ><br>
        <input type="text" id="description" name="description"  [(ngModel)]="productDetails.description"  class="form-control" placeholder="Enter description" ><br>
        <input type="text" id="price" name="price"  [(ngModel)]="productDetails.price"  class="form-control" placeholder="Enter price" >
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-info" (click)="submitProduct()" *ngIf="mode != 'VIEW'">Invia </button>&nbsp;&nbsp;
      <button class="btn btn-dark" (click)="goBack()" *ngIf="mode == 'VIEW'">Go back</button>
    </div>
  </div>
</form>

