<mat-toolbar color=""> <h2 class="text-center">create Video</h2> </mat-toolbar>
<form class="example-form mt-5">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title..." value="">
  </mat-form-field><br />

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Url</mat-label>
    <input matInput placeholder="Url...">
  </mat-form-field><br />

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Description..."></textarea>
  </mat-form-field><br />

  <button mat-raised-button color="primary" type="submit" >Save Post</button>
</form>


