
<div class="row mb-5">
  <h2 class="col-6">My products List</h2>
  <div class="col-3"></div>

  <div><a  routerLink="/products/create"  class="btn btn-secondary">New Product</a></div>
</div>
<div class="row">

  <div class="col-4">
    <ul class="products">
      <li [routerLink]="['/products', product.id]" *ngFor="let product of  productList">
              <span class="badge">{{product.id}}</span> {{product.name }}
      </li>
    </ul>
  </div>

  <div class="col-8">



    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th class="text-center" colspan="3">Action</th>

      </thead>
      <tbody *ngIf="products.length > 0">
        <tr *ngFor="let product of  products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td style="width: 70px;">
            <a [routerLink]="['/products/edit-product/', product.id]" ><i class="fa fa-pencil-square-o btn btn-info" aria-hidden="true"></i></a>
          </td>
          <td style="width: 70px;">
            <button class="btn btn-danger" (click)="deleteCase(product.id)"> <i class="fa fa-trash " aria-hidden="true"></i></button>
          </td>
          <td style="width: 70px;">
            <a [routerLink]="['/products/view-product/', product.id]" > <i class="fa fa-eye btn btn-warning" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="btn btn-warning" *ngIf="products.length <= 0">No Products added yet!</p>
  </div>
</div>
