<div class="container">
  <h1>Create New Categorie</h1>

  <a href="#" routerLink="/categories" class="btn btn-primary">Back</a>

  <form [formGroup]="form" (ngSubmit)="onSavePost()">

      <div class="form-group">
          <label for="title">Title:</label>
          <input
              formControlName="title"
              [(ngModel)]="categorieDetails.title"
              id="title"
              type="text"
              placeholder="Enter title"
              class="form-control">
          <div *ngIf="form.controls.title.touched && form.controls.title.invalid" class="alert alert-danger">
              <div *ngIf="form.controls.title.errors!.required">Title is required.</div>
          </div>
      </div>

      <div class="form-group">
          <label for="body">content</label>
          <textarea
              formControlName="content"
              [(ngModel)]="categorieDetails.content"
              id="content"
              type="text"
              placeholder="Enter content"
              class="form-control">
          </textarea>
          <div *ngIf="form.controls.content.touched && form.controls.content.invalid" class="alert alert-danger">
              <div *ngIf="form.controls.content.errors!.required">content is required.</div>
          </div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>






<!--<form #addcategorieForm="ngForm" >
  <div class="card offset-3  mt-5">
    <div class="card-header"><h3>{{pageTitle}}</h3></div>
    <div class="card-body">
      <div *ngIf="mode=='DETAIL'">
        <h5>#id : {{categorieDetails.id}} </h5>
        <h5>Name: {{categorieDetails.name}} </h5>
      </div>
      <div class="form-group" *ngIf="mode !='DETAIL'">
        <label for="name" >Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="categorieDetails.name" class="form-control" placeholder="Enter name">
      </div>
    </div>
    <div class="card-footer">
      <button  (click)="submitCategorie()" class="btn btn-info" *ngIf="mode !='DETAIL'" >Invia</button>
      <button  class="btn btn-dark" *ngIf="mode =='DETAIL'"(click)="goBack()">Go back</button>
    </div>
  </div>
</form>-->
