<div class="container">
  <h1>{{pageTitle}}</h1>


  <div *ngIf="mode ==='VIEW'">
    <h5>Title: {{categorieDetails.title}} </h5>
    <h5>Content: {{categorieDetails.content}} </h5>
  </div>

  <form [formGroup]="form" (submit)="onSavePost()">

    <div class="form-group" *ngIf="mode!='VIEW'">
      <label for="title">Title:</label>
      <input formControlName="title"
             name="title"
             type="text"
             placeholder="Enter title"
             class="form-control">
      <div *ngIf="form.controls.title.touched && form.controls.title.invalid" class="alert alert-danger">
        <div *ngIf="form.controls.title.errors!.required">Title is required.</div>
      </div>
    </div>
    <div>
      <button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker  />
    </div>
    <div class="form-group">
      <label for="body">content</label>
      <textarea formControlName="content"
                name="content"
                type="text"
                placeholder="Enter content"
                class="form-control">
          </textarea>
      <div *ngIf="form.controls.content.touched && form.get('content')!.invalid" class="alert alert-danger">
        <div *ngIf="form.get('content')!.errors!.required">content is required.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>&nbsp;
    <button type="button" class="btn btn-info"  *ngIf="mode === 'EDIT'">Update </button>&nbsp;&nbsp;
    <a href="#" routerLink="/categories" class="btn btn-dark">Back</a>&nbsp;

  </form>
</div>






<!--<form #addcategorieForm="ngForm" >
  <div class="card offset-3  mt-5">
    <div class="card-header"><h3>{{pageTitle}}</h3></div>
    <div class="card-body">
      <div *ngIf="mode=='DETAIL'">
        <h5>#id : {{categorieDetails.id}} </h5>
        <h5>Name: {{categorieDetails.name}} </h5>
      </div>
      <div class="form-group" *ngIf="mode !='DETAIL'">
        <label for="name" >Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="categorieDetails.name" class="form-control" placeholder="Enter name">
      </div>
    </div>
    <div class="card-footer">
      <button  (click)="submitCategorie()" class="btn btn-info" *ngIf="mode !='DETAIL'" >Invia</button>
      <button  class="btn btn-dark" *ngIf="mode =='DETAIL'"(click)="goBack()">Go back</button>
    </div>
  </div>
</form>
  <div>
    <form (ngSubmit) =" onSubmit()">
      <label for="title">Title: </label>
      <input id="title" [(ngModel)]="newCategorie.title" name="title" placeholder="title">
      <label for="content">Content: </label>
      <input id="content" [(ngModel)]="newCategorie.content" name="content" placeholder="content">
      <input type="submit" value="Save" />
    </form>
  </div>

  -->
